{% extends "__base.html" %}
{% load static i18n%}

{% block page_content %}
<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-8">
                <h3 class="mb-0">Seleccione archivo para cargar data:</h3>
            </div>
            <div class="col-4 text-right">
                <a href="{% url 'home' %}" class="btn btn-sm btn-primary">Volver</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <fieldset class="module aligned  module_0 initialized">
            <div class="card">
                {% if success %}
                    <div class="card-header">
                        <h>{{ success }}</h1>
                    </div>
                {% endif %}
        
                <div class="card-block">
                    {% if form_errors %}
                        <p class="card-text">
                            {{ form_errors }}
                        </p>
                    {% else %}
                        <p class="card-text">{% trans 'Please check that the file has the csv extension.' %}
                            <br/> {% trans 'also check the headers of the file, they should be the following:' %} </p>
                            [SNo, Name, Symbol, Date, High, Low, Open, Close, Volume, Marketcap]
                        <p></p>
                    {% endif %}
            
                    <div role='main' id='content-main'>
                    <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_ul}}
                </fieldset>
                <div class="row">
                    <div class="col-4 offset-4">
                        <button type="submit" class="btn btn-success btn-block">Importar Datos</button>
                    </div>
                </div>
    </div>
</div>
{% endblock %}
