{% extends "admin/base.html" %}
{% load static i18n%}

{% block extrahead %}{{ block.super  }}
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
{% endblock %}

{% block content %}
    <fieldset class="module aligned  module_0 initialized">
    <div class="card">
        {% if success %}
            <div class="card-header">
                <h1>{{ success }}</h1>
            </div>
        {% endif %}

        {% if forms.error %}
            <div class="card-header">
                <h1>{{ forms.error }}</h1>
            </div>
        {% endif %}

        <div class="card-block">
            <h4 class="card-title">{% trans 'Seleccione el archivo' %}</h4>
            <p class="card-text">{% trans 'Please check that the file has the csv extension.' %}
                <br/> {% trans 'also check the headers of the file, they should be the following:' %} {{ Headers }} </p>
            <p></p>

            <div role='main' id='content-main'>
            <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_ul}}
        </fieldset>
                <div class="submit-row">
                    <input type="submit" value="Submit" class="default pull-right" />
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}
